*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
button{
    cursor: pointer;
    border: none;
}
section:not(:first-child){
    margin-top: 100px;
}
.Todo-input{
    padding: 10px 12px;
}
.date-input{
    padding-block: 9px;
}
.add-style-button{
    background-color: green;
    color: whitesmoke;
    padding: 12px 30px;
    font-weight: bold;
}
.todo-grid,.grid-template-form-todo{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    gap: 16px;
   align-items: center;
}
.grid-template-form-todo{
    margin-bottom: 16px;
}
.delete-button{
    background-color: red;
    color: whitesmoke;
    padding: 12px 30px;
    font-weight: bold;
}
.icon-toggle{
    position: absolute;
    top: -50px;
    left: 100px;
}
.icon-toggle i{
    font-size: 35px;
}
.is-toggle{
    background-color: black;
    color:white;
    cursor: pointer;
}